
@model IEnumerable<Entities.Models.Pizza>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaSauce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaBread)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaCheese)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PizzaType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PizzaSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PizzaSauce)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PizzaBread)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PizzaCheese)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a>*@
                    <a asp-action="Reorder" asp-route-id="@item.PizzaID">Reorder</a> @*|
                    <a asp-action="Delete" asp-route-id="@item.PizzaID">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
