@using Entities.Models
@model Customer
@{
    ViewData["Title"] = "Checkout";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/index.css" />
    <style>
        .row {
            padding: 30px;
        }

        .sub-titile {
            color: darkorange;
            font-size: 25px;
            margin-bottom: 20px;
        }

        label {
            font-size: 15px;
        }

        input {
            height: 28px;
            margin-bottom: 20px;
            font-size: 15px;
            border: 1px solid cadetblue;
            /*background-color: #AAA;*/
        }
        #btn-submitOrder{
            opacity: 0.85;
            border-radius: 5px;
        }
        #btn-submitOrder:hover{
            opacity: 1;
        }

    </style>
</head>
<body>

    <div class="row">
        @using (Html.BeginForm("Finalize", "CheckOut", FormMethod.Post, new { @class = "form", role = "form" }))
        {
            <div class="row" style="background-color:white; opacity:50; font-family: sans-serif; border-radius: 15px; padding: 70px">

                <div class="">
                    <h2 style="color: cadetblue; font-family: 'Shadows Into Light', cursive; font-size: 45px; margin-bottom: 20px">
                        Checkout
                    </h2>
                    <hr />
                    <br />
                    <h4 class="sub-titile">Billing address</h4>
                    <div class="">
                        <div class="">
                            <label for="firstName">First name</label>
                            <input type="text" class="" id="firstName" placeholder="" value="@Model.CustomerFirstName" readonly>
                        </div>
                        <div class="">
                            <label for="lastName">Last name</label>
                            <input type="text" class="" id="lastName" placeholder="" value="@Model.CustomerLastName" readonly>
                        </div>
                    </div>

                    <div class="">
                        <label for="email">Email</label>
                        <input style="width: 210px" type="email" class="" id="email" placeholder="" value="@Model.CustomerEmail" readonly>
                    </div>

                    <div class="">
                        <label for="address">Address</label>
                        <input type="text" class="" id="address" placeholder="" value="@Model.CustomerAddress" readonly>
                    </div>

                    <div class="">
                        <div class="">
                            <label for="state">State</label>
                            <input style="width: 70px" type="text" class="" id="state" placeholder="" value="@Model.State" readonly>

                        </div>
                        <div class="">
                            <label for="zip">Zip</label>
                            <input style="width: 90px" type="text" class="" id="zip" placeholder="" value="@Model.ZipCode" readonly>
                        </div>
                    </div>
                    <hr class="">
                    <br />
                    <h4 class="sub-titile">Payment</h4>

                    <div class="">
                        <div class="">
                            <label for="cc-name">Name on card</label>
                            <input type="text" class="" id="cc-name" placeholder="" readonly value="@Model.CustomerFirstName @Model.CustomerLastName">
                            <small class="" style="color: white">Full name as displayed on card</small>
                        </div>
                        <div class="">
                            <label for="cc-number">Credit card number</label>
                            <input type="text" class="" id="cc-number" placeholder="" value="@Model.CreditCardNumber" readonly>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <label for="cc-expiration">Expiration</label>
                            <input style="width: 100px" type="text" class="" id="cc-expiration" placeholder="" readonly value="@Model.ExpMonth">
                        </div>
                        <div class="">
                            <label for="cc-cvv">CVV</label>
                            <input style="width:60px" type="text" class="" id="cc-cvv" placeholder="" value="@Model.SecurityCode" readonly>

                        </div>
                    </div>
                </div>

                <div class="mini-cart">
                    <ul class="" style="border: 1.5px solid cadetblue; padding: 10px;list-style: none; margin-top: 130px;">
                        <p class="" style="color: cadetblue; font-size: 25px">Cart Items</p>


                        @foreach (Order order in Model.Orders)
                        {
                            @foreach (Pizza pizza in order.Pizzas)
                            {
                                <li class="" style="border-bottom: 1px solid gray; font-size: 16px">
                                    <span style="color: black" class="">@pizza.PizzaType: </span>
                                    <span class="">$@pizza.PizzaPrice</span>
                                </li>
                            }
                            @foreach (Drink drink in order.Drinks)
                            {
                                <li class="" style="border-bottom: 1px solid gray; font-size: 16px">
                                    <span style="color: black" class="">@drink.DrinkType: </span>
                                    <span class="">$@drink.Price</span>
                                </li>
                            }
                            <li class="" style="font-size:18px">
                                <br />
                                <span>Total (USD)</span>
                                <strong>$@order.OrderPrice</strong>
                            </li>
                        }
                    </ul>
                    <hr class="">
                    <button id="btn-submitOrder" type="submit" style="background-color: cadetblue; color: white; border: 0; padding: 5px; padding-left: 20px; padding-right: 20px; font-size: 17px">Submit Order</button>
                </div>

            </div>
        }
    </div>

</body>
</html>