@using Entities.Models
@model Order

@{
    ViewData["Title"] = "Menu";
}

<link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Hanalei|Questrial|Shadows+Into+Light&display=swap" rel="stylesheet">

<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    function plusDivs(n) {
        showDivs(slideIndex += n);
    }
    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("pizza-form-part");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length };
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
        if (slideIndex == 1) {
            document.getElementById("btn-prev").style.display = "none";
            document.getElementById("btn-next").style.display = "inline";
            document.getElementById("btn-addToOrder").style.display = "none";
        }
        else if (slideIndex == 2) {
            document.getElementById("btn-prev").style.display = "inline";
            document.getElementById("btn-next").style.display = "inline";
            document.getElementById("btn-addToOrder").style.display = "none";
        }
        else if (slideIndex == 3) {
            document.getElementById("btn-next").style.display = "none";
            document.getElementById("btn-prev").style.display = "inline";
            document.getElementById("btn-addToOrder").style.display = "inline";
        }
    }
    function pop(div) {
        slideIndex = 1;
        showDivs(slideIndex);
        document.getElementById(div).style.display = "block";
        document.getElementById("container-shoppingCartBtn").style.display = "none";
    }
    function hide(div) {
        document.getElementById(div).style.display = "none";
        document.getElementById("container-shoppingCartBtn").style.display = "block";
        document.getElementById("pizza-form").reset();
        document.getElementById('items-specialityPizza').scrollTop = 0
        document.ownPizzaImg.src = "/images/pizzaCrustType/brookyln_style.jpg";
        var element = document.getElementById("ownPizza-size");
        element.innerHTML = " 10&quot Small ";

    }
    function addToCart(div) {
        alert("Added");
        document.getElementById(div).style.display = "none";
        document.getElementById("container-shoppingCartBtn").style.display = "block";
        document.getElementById("pizza-form").reset();
    }


    function popCart() {
        //document.getElementById("container-shoppingCart").style.display = "block";
        document.getElementById("container-shoppingCart").style.visibility = "visible";
        document.getElementById("container-shoppingCart").style.opacity = "1";
        document.getElementById("container-shoppingCartBtn").style.display = "none";
        document.getElementById("li-spPizza").style.display = "none";
        document.getElementById("li-ownPizza").style.display = "none";
        document.getElementById("li-drink").style.display = "none";
    }
    function hideCart() {
        //document.getElementById("container-shoppingCart").style.display = "none";
        document.getElementById("container-shoppingCart").style.visibility = "hidden";
        document.getElementById("container-shoppingCart").style.opacity = "0";
        document.getElementById("container-shoppingCartBtn").style.display = "block";
        document.getElementById("li-spPizza").style.display = "block";
        document.getElementById("li-ownPizza").style.display = "block";
        document.getElementById("li-drink").style.display = "block";
    }

    function changePizzaImg(crustPath) {
        document.ownPizzaImg.src = crustPath;
    }

    function changePizzaSize(crustSize) {
        var element = document.getElementById("ownPizza-size");
        element.innerHTML = crustSize;
    }

    function PostSpecializedPizza(pizza) {
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: "/CheckOut/AddSpecialized",
            data: JSON.stringify(pizza),
            success: function () {
                alert("Your item has been added to the order."),
                    window.location.href = '/Home/Menu/'
            },
            error: function (a, jqXHR, exception) { }
        });
    }

    function PostDrink(drink) {
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: "/CheckOut/AddDrink",
            data: JSON.stringify(drink),
            success: function () {
                alert("Your drink has been added to the order."),
                    window.location.href = '/Home/Menu/'
            },
            error: function (a, jqXHR, exception) { }
        });
    }
</script>

<style>
    body {
        background-image: url('https://img.taste.com.au/YfX0h9hC/taste/2017/10/mexican-taco-pizza-131640-1.jpg');
        font-family: 'Shadows Into Light', cursive;
        font-size: 20px;
        user-select: none;
    }

    .container-itemlist {
        width: 620px;
    }

    .container-shoppingCart {
        border-radius: 15px;
        background-color: white;
        color: black;
        padding: 10px;
        width: 60%;
        margin-top: 180px;
        opacity: 1;
        user-select: none;
        text-align: center;
        position: absolute;
        top: 0%;
        left: 20%;
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s, opacity 0.5s ease-in-out;
    }

    .pop-menu {
        display: none;
        position: fixed;
        margin: auto;
        padding: 65px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 1300px;
        height: 800px;
        background-color: white;
        border: 2px solid cadetblue;
        border-radius: 10px;
    }

    table{
        width: 75%;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    #btn-item {
        background-color: white;
        border: none;
        padding: 25px;
        padding-left: 65px;
        padding-right: 65px;
        margin: 0;
        background-color: transparent;
        transition-duration: 1s;
    }

        #btn-item:hover {
            transform: scale(1.1);
            transition-duration: 1s;
        }

    #btn-next, #btn-prev, #btn-close, #btn-addToOrder {
        background-color: cadetblue;
        color: white;
        border: none;
        opacity: 0.7;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 5px;
    }

    #btn-addToOrder {
        margin-left: 820px;
        margin-top: 155px;
        padding-right: 50px;
        padding-left: 50px;
        background-color: orange;
        color: black;
        border-radius: 5px;
    }

        #btn-next:hover, #btn-prev:hover, #btn-close:hover, #btn-addToOrder:hover {
            opacity: 1;
        }


    #btn-checkout {
        border: none;
        padding: 5px;
        padding-left: 60px;
        padding-right: 60px;
        opacity: 0.8;
    }

    #nav-menu {
        list-style-type: none;
        padding: 0;
        text-align: center;
        margin-top: 180px;
    }

        #nav-menu > li {
            padding: 0px;
            width: 480px;
            margin-top: 20px;
            transition-duration: 1s;
            user-select: none;
        }

        #nav-menu img {
            transform: scale(0.5);
        }

    #li-ownPizza {
        opacity: 0.95;
        font-size: 25px;
        color: white;
        background-color: orange;
        border-radius: 5px;
    }

        #li-ownPizza:hover {
        }

    #li-drink {
        opacity: 0.8;
        background-color: white;
        font-size: 35px;
        border-radius: 5px;
    }

        #li-drink:hover {
            opacity: 0.95;
            transition-duration: 1s;
            color: cadetblue;
            background-color: wheat;
        }

    #li-spPizza {
        color: cadetblue;
        opacity: 1;
        transform: scale(1.315);
        border: 1px solid gray;
        background-color: white;
        font-size: 35px;
        border-radius: 10px;
    }

    button:focus {
        outline: none;
    }

    .pizza-form-part {
        height: 550px;
        padding-top: 50px;
        font-family: sans-serif;
    }

        .pizza-form-part input {
            transform: scale(1.4);
        }

    #label-title {
        font-family: 'Shadows Into Light', cursive;
        color: goldenrod;
        font-size: 25px;
    }

    label {
        font-size: 18px;
        font-family: 'Questrial', sans-serif;
    }

    table tr {
        font-family: sans-serif;
        font-size: 15px;
        
    }

    table tr th {
        color: cadetblue;
        position: sticky;
        top: 0px;
        background-color: white;
    }

    table tr td {
        border-bottom: 1px solid cadetblue;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .btn-item {
        padding: 5px;
        padding-right: 50px;
        padding-left: 50px;
        border: none;
        border-radius: 0;
        background-color: #AAA;
        opacity: 0.55;
        border-radius: 5px;
    }

        .btn-item:hover {
            opacity: 0.9;
            text-decoration: none;
            background-color: cadetblue;
        }

    .card {
        width: 260px;
        border: 1px solid cadetblue;
        text-align: center;
        display: inline-block;
        padding-bottom: 10px;
    }

    .items-drinks, .items-specialityPizza {
        height: 630px;
        overflow: scroll;
        overflow-x: hidden;
        margin-bottom: 10px;
    }

    #items-drinks::-webkit-scrollbar-track, #items-specialityPizza::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    #items-drinks::-webkit-scrollbar, #items-specialityPizza::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    #items-drinks::-webkit-scrollbar-thumb, #items-specialityPizza::-webkit-scrollbar-thumb {
        background-color: cadetblue;
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
    }

    #addToCart-Pizza {
        border: 0;
        padding: 4px;
        padding-left: 45px;
        padding-right: 45px;
        opacity: 0.8;
        border-radius: 5px;
    }

    #addToCart-Pizza:hover {
        opacity: 1;
        background-color: cadetblue;
        color: white;
    }

    #shoppingCart-items::-webkit-scrollbar-track, body::-webkit-scrollbar-track, #items-drinks::-webkit-scrollbar-track, #items-specialityPizza::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    #shoppingCart-items::-webkit-scrollbar, body::-webkit-scrollbar, #items-drinks::-webkit-scrollbar, #items-specialityPizza::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    #shoppingCart-items::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, #items-drinks::-webkit-scrollbar-thumb, #items-specialityPizza::-webkit-scrollbar-thumb {
        background-color: cadetblue;
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
    }


    #btn-shoppingCart {
        font-size: 25px;
        padding: 10px;
        padding-left: 40px;
        padding-right: 20px;
        opacity: 1;
        position: relative;
        top: 80px;
        background-color: white; 
        color: black; 
        text-decoration: none;
        transition-duration: 2s;
        border: 1px solid gray;
    }

    #btn-shoppingCart:hover {
        opacity: 1;
        padding-right: 100px;
        color: black;
        transition-duration: 1s;
    }

    #btn-checkout, #btn-goback{
        padding: 3px;
        padding-left: 80px; 
        padding-right: 80px; 
        background-color: cadetblue; 
        color: white;
        border: none; 
        border-radius: 5px;
        opacity: 0.85;
        text-decoration: none;
    }

    #btn-checkout {
        background-color: orange;
    }

    #btn-checkout:hover, #btn-goback:hover{
        opacity: 1;
    }

    .card-title {
        font-weight: 800;
        color: cadetblue;
    }

    .card-text-cart {
        color: cadetblue; 
    }

</style>

<body>
    <div>
        <div class="container-itemlist">
            <ul id="nav-menu">
                <li id="li-ownPizza"><img src="http://www.iconsalot.com/asset/icons/freepik/event-agency/128/028-pizza-icon.png"><button class="btn-ownPizza" id="btn-item" onclick="pop('popmenu-buildOwnPizza')">Build Your Own Pizza</button></li>
                <li id="li-spPizza"><img src="http://www.iconsalot.com/asset/icons/freepik/linear-color-food-set/128/pizza-icon.png"><button class="btn-spPizza" id="btn-item" onclick="pop('popmenu-specialityPizza')">Specialty Pizzas</button></li>
                <li id="li-drink"><img src="https://cdn0.iconfinder.com/data/icons/junk-food-emoji-set/100/Soda_3-128.png"><button class="btn-drinks" id="btn-item" onclick="pop('popmenu-drinks')">Drinks</button></li>
            </ul>
            <div class="box-item ownPizza">
                <div class="pop-menu" id="popmenu-buildOwnPizza">
                    @using (Html.BeginForm("AddtoOrder", "CheckOut", FormMethod.Post, new { @class = "form", role = "form", id = "pizza-form" }))
                    {
                        <h1 style="color:cadetblue; text-align:center">BUILDING YOUR OWN PIZZA</h1>
                        <hr />
                        <div class="pizza-form-part1 pizza-form-part">
                            <label id="label-title">Choose Your Crust</label>
                            <br>
                            <input id="radio-crust1" type="radio" name="PizzaBread" value="Brooklyn Style" onclick="changePizzaImg('/images/pizzaCrustType/brookyln_style.jpg')" checked>
                            <label for="radio-crust1">Brooklyn Style</label><br>
                            <input id="radio-crust2" type="radio" name="PizzaBread" value="Hand Tossed" onclick="changePizzaImg('/images/pizzaCrustType/hand_tossed.jpg')">
                            <label for="radio-crust2">Hand Tossed</label><br>
                            <input id="radio-crust3" type="radio" name="PizzaBread" value="Crunchy Thin Crust" onclick="changePizzaImg('/images/pizzaCrustType/crunchy_thin_crust.jpg')">
                            <label for="radio-crust3">Crunchy Thin Crust</label><br>
                            <input id="radio-crust4" type="radio" name="PizzaBread" value="Handmade Pan" onclick="changePizzaImg('/images/pizzaCrustType/handmade_pan.jpg')">
                            <label for="radio-crust4">Handmade Pan</label>
                            <br><br>
                            <label id="label-title">Choose Your Size</label>
                            <br>
                            <input id="radio-crustSize1" type="radio" name="PizzaSize" value="Small" onclick="changePizzaSize(' 10&quot Small ')" checked>
                            <label for="radio-crustSize1">10" Small</label><br />
                            <input id="radio-crustSize2" type="radio" name="PizzaSize" value="Medium" onclick="changePizzaSize(' 12&quot Medium ')" >
                            <label for="radio-crustSize2">12" Medium</label><br />
                            <input id="radio-crustSize3" type="radio" name="PizzaSize" value="Large" onclick="changePizzaSize(' 14&quot Large ')">
                            <label for="radio-crustSize3">14" Large</label><br />
                            <input id="radio-crustSize4" type="radio" name="PizzaSize" value="X-Large" onclick="changePizzaSize(' 16&quot X-Large ')">
                            <label for="radio-crustSize4">16" X-Large</label>
                        </div>

                        <div class="pizza-form-part2 pizza-form-part" style="display:none">
                            <label id="label-title">Do you want cheese?</label>
                            <br>
                            <input id="radio-cheese-yes" type="radio" name="PizzaCheese" value=true checked>
                            <label for="radio-cheese-yes">Yes</label>&nbsp;&nbsp;
                            <input id="radio-cheese-no" type="radio" name="PizzaCheese" value=false>
                            <label for="radio-cheese-no">No</label>
                            <br><br>
                            <label id="label-title">Choose a Sauce</label>
                            <br>
                            <input id="radio-sauce1" type="radio" name="PizzaSauce" value="BBQ Sauce" checked>
                            <label for="radio-sauce1">BBQ Sauce</label><br>
                            <input id="radio-sauce2" type="radio" name="PizzaSauce" value="Alfredo Sauce">
                            <label for="radio-sauce2">Alfredo Sauce</label><br>
                            <input id="radio-sauce3" type="radio" name="PizzaSauce" value="Robust Inspired Tomato Sauce">
                            <label for="radio-sauce3">Robust Inspired Tomato Sauce</label><br>
                            <input id="radio-sauce4" type="radio" name="PizzaSauce" value="Garlic Parmesan White Sauce">
                            <label for="radio-sauce4">Garlic Parmesan White Sauce</label><br>
                            <input id="radio-sauce5" type="radio" name="PizzaSauce" value="Hearty Marinara Sauce">
                            <label for="radio-sauce5">Hearty Marinara Sauce</label><br>
                            <input id="radio-sauce6" type="radio" name="PizzaSauce" value="None">
                            <label for="radio-sauce6">None</label>
                        </div>

                        <div class="pizza-form-part3 pizza-form-part" style="display:none">
                            <br />
                            <label id="label-title">Choose Toppings</label>
                            <br>
                            <input id="check-topping1" type="checkbox" name="TypeTopping" value="1">
                            <label for="check-topping1">Pepperoni</label>&nbsp;&nbsp;&nbsp;
                            <input id="check-topping2"  type="checkbox" name="TypeTopping" value="2">
                            <label for="check-topping2">Sausage</label><br>
                            <input id="check-topping3" type="checkbox" name="TypeTopping" value="3">
                            <label for="check-topping3">Ham</label>&nbsp;&nbsp;&nbsp;
                            <input id="check-topping4" type="checkbox" name="TypeTopping" value="4">
                            <label for="check-topping4">Bacon</label><br />
                            <input id="check-topping5" type="checkbox" name="TypeTopping" value="5">
                            <label for="check-topping5">Beef</label>&nbsp;&nbsp;&nbsp;
                            <input id="check-topping6" type="checkbox" name="TypeTopping" value="6">
                            <label for="check-topping6">Pineapple</label><br>
                            <input id="check-topping7" type="checkbox" name="TypeTopping" value="7">
                            <label for="check-topping7">Spinich</label>&nbsp;&nbsp;&nbsp;
                            <input id="check-topping8" type="checkbox" name="TypeTopping" value="8">
                            <label for="check-topping8">Onion</label><br />
                            <input id="check-topping9" type="checkbox" name="TypeTopping" value="9">
                            <label for="check-topping9">Olives</label>&nbsp;&nbsp;&nbsp;
                            <input id="check-topping10" type="checkbox" name="TypeTopping" value="10">
                            <label for="check-topping10">Garlic</label><br />
                            <input id="check-topping11" type="checkbox" name="TypeTopping" value="11">
                            <label for="check-topping11">Green Pepper</label><br />
                            <input id="check-topping12" type="checkbox" name="TypeTopping" value="12">
                            <label for="check-topping12">Sun Dried Tomatoes</label><br>

                            <button class="btn" type="submit" id="btn-addToOrder" onclick="Submit">Add to Order</button>
                        </div>

                    }

                    <button id="btn-next" onclick="plusDivs(1)">Next</button>
                    <button id="btn-prev" onclick="plusDivs(-1)" style="display:none">Prev</button>
                    <button id="btn-close" onclick="hide('popmenu-buildOwnPizza')"> Cancel </button>

                    <div style="position: absolute; top: 230px; right: 30%; text-align: center">
                        <img id="ownPizza-img" name="ownPizzaImg" src="~/images/pizzaCrustType/brookyln_style.jpg" />
                        <h1 id="ownPizza-size" style="background-color: white; position: relative; bottom: 110px; opacity: 0.8; color: cadetblue; padding-top: 5px; padding-bottom: 5px"> 10" Small</h1>
                    </div>
                    

                </div>
            </div>

            <div class="box-item spPizza">
                <div class="pop-menu" id="popmenu-specialityPizza">
                    <div class="items-specialityPizza" id="items-specialityPizza">
                        <div class="card">
                            <img class="card-img-top" src="~/images/pizzSpecialty/Chicago_Deep_Dish.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Chicago Deep Dish</h5>
                                <p class="card-text">Featuring a thick pie like crust with raised edges, made with crushed tomatoes, slices of mozarella and vegetables.</p>
                                <hr />
                                <p style="color: cadetblue">Price: $15</p>
                                <a href="#" class="btn-item btn-primary" onclick="PostSpecializedPizza('DeepDish')">Add to Order</a>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="~/images/pizzSpecialty/Neapolitan_Pizza.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Neapolitan Pizza</h5>
                                <p class="card-text">Original Italian Pizza made with Italian marinara Sauce with sliced mozarella, basil and extra virgin olive oil.</p>
                                <br />
                                <hr />
                                <p style="color: cadetblue">Price: $12</p>
                                <a href="#" class="btn-item btn-primary" onclick="PostSpecializedPizza('Neapolitan')">Add to Order</a>
                            </div>
                        </div>


                        <div class="card">
                            <img class="card-img-top" src="~/images/pizzSpecialty/Sicilian_Pizza.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Sicilian Pizza</h5>
                                <p class="card-text">Thick square pizza with a crunchy crust, fluffy dough.</p>
                                <br />
                                <br />
                                
                                <hr />
                                <p style="color: cadetblue">Price: $10</p>
                                <a href="#" class="btn-item btn-primary" onclick="PostSpecializedPizza('Sicilian')">Add to Order</a>
                            </div>
                        </div>

                        <div class="card">
                            <img class="card-img-top" src="~/images/pizzSpecialty/St_Louis.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">St. Louis</h5>
                                <p class="card-text">Light slice with a thin crust made without yeast. Made with Provel cheese and sweet tomato sauce with oregano.</p>
                                <hr />
                                <p style="color: cadetblue">Price: $12</p>
                                <a href="#" class="btn-item btn-primary" onclick="PostSpecializedPizza('StLouis')">Add to Order</a>
                            </div>
                        </div>
                    </div>
                    <button id="btn-close" onclick="hide('popmenu-specialityPizza')"> Cancel </button>
                </div>
            </div>

            <div class="box-item btnDrink">
                <div class="pop-menu" id="popmenu-drinks">
                    <div class="items-drinks" id="items-drinks">

                        <div class="card">
                            <br />
                            <img class="card-img-top" src="~/images/drinks/coca_cola.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Coca Cola</h5>
                                <p class="card-text">The authentic cola sensation that is a refreshing part of sharing life's enjoyable moments. 20 oZ Bottle.</p>
                                <hr />
                                <p style="color: cadetblue"> Price: $2</p>
                                <a href="#" class="btn-item btn-primary" onclick="PostDrink('Cola')">Add to Order</a>
                            </div>
                        </div>
                        <div class="card">
                            <br />
                            <img class="card-img-top" src="~/images/drinks/sprite.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Sprite</h5>
                                <p class="card-text">Unique Lymon (lemon-lime) flavor, clear, clean and crisp with no caffein. 20 oZ Bottle.</p>
                                <hr />
                                <p style="color: cadetblue"> Price: $2</p>
                                <a href="#" class="btn-item btn-primary" onclick="PostDrink('Sprite')">Add to Order</a>
                            </div>
                        </div>
                        <div class="card">
                            <br />
                            <img class="card-img-top" src="~/images/drinks/fanta.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Fanta</h5>
                                <p class="card-text">Exuberant tropical fun to release you from the everyday mundane. 20 oZ Bottle.</p>
                                <hr />
                                <p style="color: cadetblue"> Price: $2</p>
                                <a href="#" class="btn-item btn-primary" onclick="PostDrink('Fanta')">Add to Order</a>
                            </div>
                        </div>
                        <div class="card">
                            <br />
                            <img class="card-img-top" src="~/images/drinks/ramune.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Ramune</h5>
                                <p class="card-text">Everyone's favorite Japanese Pop Soda, Ramue. It releases you and please enjoy it. 200g Bottle.</p>
                                <hr />
                                <p style="color: cadetblue"> Price: $4</p>
                                <a href="#" class="btn-item btn-primary" onclick="PostDrink('Ramune')">Add to Order</a>
                            </div>
                        </div>
                    </div>
                    <button id="btn-close" onclick="hide('popmenu-drinks')"> Cancel </button>
                </div>
            </div>
        </div>

        <div id="container-shoppingCartBtn">
            <a id="btn-shoppingCart" onclick="popCart()" style="cursor:pointer"> Go to Shopping Cart > </a>
        </div>


        <div class="container-shoppingCart" id="container-shoppingCart">
            <br>
            <div id="shoppingCart-header">
                <div>
                    <h1 style="color: orange">Shopping Cart</h1>
                    <img src="https://images.vexels.com/media/users/3/132114/isolated/lists/5367202ad4dd11725544cb3008049f96-shoppingcart-flat-icon.png" width="42" height="42" />
                </div>
                <hr />
            </div>
            <div id="shoppingCart-items" style="height: 400px; overflow: scroll; overflow-x: hidden; text-align:left">
                <table>
                    @if (Model != null)
                    {
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Details</th>
                        </tr>

                        @foreach (Pizza pie in Model.Pizzas)
                        {
                            <tr>
                                <td>
                                    <span class="card-text-cart">Pizza: </span>
                                    <span>@pie.PizzaType</span>
                                </td>

                                <td>
                                    <span>$@pie.PizzaPrice</span>
                                </td>

                                <td style="width: 450px">
                                    
                                    @if (pie.PizzaBread != null)
                                    {
                                        <span class="card-text-cart">Crust: </span>
                                        <span>@pie.PizzaBread</span><br />
                                    }
                                    @if (pie.PizzaSauce != null)
                                    {
                                        <span class="card-text-cart">Sauce: </span>
                                        <span>@pie.PizzaSauce</span><br />
                                    }
                                    @if (pie.PizzaCheese == true)
                                    {
                                        <span class="card-text-cart">Cheese: </span>
                                        <span>Yes</span><br />
                                    }
                                    @if (pie.PizzaSize != null)
                                    {
                                        <span class="card-text-cart">Size: </span>
                                        <span>@pie.PizzaSize</span><br />
                                    }
                                    @if (Model != null)
                                    {
                                        if (pie.Toppings.Count != 0)
                                        {
                                            <span class="card-text-cart">Toppings: </span>
                                        }
                                        @foreach (Topping top in pie.Toppings)
                                        {
                                            <span>@top.ToppingName,</span>
                                        }
                                    }
                                </td>
                            </tr>
                        }

                        @foreach (Drink pie in Model.Drinks)
                        {

                            <tr>
                                <td>
                                    <span class="card-text-cart">Drink: </span>
                                    <span>@pie.DrinkType</span>
                                </td>
                                <td>
                                    <span>$@pie.Price</span>
                                </td>
                                @{
                                    if (pie.DrinkType == "Ramune")
                                    {
                                        <td>
                                            <span style="color: cadetblue">Size: </span>
                                            <span>200g</span>
                                        </td> 
                                    }
                                    else
                                    {
                                        <td>
                                            <span style="color: cadetblue">Size: </span>
                                            <span>20oz</span>
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    }

                </table>
            </div>
            <hr />
            <p style="font-size: 25px">Total price:  $@(Model != null ? Model.OrderPrice : 0)</p>
            <div>
                <a style="cursor: pointer" id="btn-goback" onclick="hideCart()">Go Back</a>
                <button id="btn-checkout" onclick="location.href='@Url.Action("Index", "CheckOut")'" style="background-color:cadetblue; border-radius:5px" @(Model == null ? "disabled": "")>Go Checkout</button>
            </div>
            <br />
            
        </div>


        </div>

</body>
